.ss-header {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 10;

  .header__title,
  .header__item {
    padding : 2% 5% 0;

  }


  .header__title {
    margin: 0;
  }

  .header__logo {
    width: 30%;
    max-width: 250px;


    @media only screen and (max-width:480px) {
        max-width: 125px;
        width: 25% ;
    }

  }

}
