.ss-header {
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  flex: row;
  justify-content: space-between;

  width: 100%;

  font-family: 'Airstrike';
  letter-spacing: 0.2em;
  color: #000;
  z-index: 10;

  .header__title,
  .header__item {
    padding: 1.5em;

  }

  .header__title {
    margin: 0;
  }

  .header__logo {
    max-width: 20%;

  }

}
