.main {
    font-family: 'Source Sans Pro', sans-serif;
}

.ss-section {
    display: grid;
    height: 100vh;

    background-color: #fff;

    @media only screen and (max-width:480px) {
        display: block;
        height: auto;
    }
}

.section__content {
    width: 55%;
    margin: auto 0 auto 35%;

    @media only screen and (max-width:480px) {
        margin: 0;
    }
}
