.ss-nav {
  display: flex;
  flex-flow: column;

  width: 100%;

  z-index: 10;

  .nav__item {
    text-decoration: none;
    margin: 10px 0;

    @media only screen and (max-width:480px) {
        font-size: .8em;
    }

    .home {
      display: none;
    }

    &.-active {
      display: none;


    }
  }


}
