.ss-slideshow {

  width: 100%;

    .slideshow__img {
      // display: none;


      &.-active {
        display: block;
      }

      img {
        width: 100%;
      }
    }

}

.logo {

  position: absolute;
  top: 60px;
}
