.ss-slideshow {
    //  min-height: 100vh;


    .slideshow__item {
      display: none;

      position: relative;
      overflow: hidden;
      padding-bottom: 100vh; /* of parent width */

      &:first-child {
          display: block;
      }

    }

    .slideshow__img {

      position: absolute;
       top: -9999px;
       bottom: -9999px;
       left: -9999px;
       right: -9999px;
       margin: auto;
       max-height: 100%;
       min-width: 100%;


    }

}

.logo {

  position: absolute;
  top: 60px;
}
