@font-face {
  font-family: 'Airstrike';
  src: url('../fonts/airstrike/airstrike.ttf');
  // src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
  //      url('../fonts/font-name.woff') format('woff'),
  //      url('../fonts/font-name.ttf') format('truetype'),
  //      url('../fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}


// @font-face {
//   font-family: "Kimberley";
//   src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf) format("truetype");
// }
// h1 { font-family: "Kimberley", sans-serif }
